* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: end;
  margin: 20px;
  align-items: center;
  font-size: 0.9em;
  cursor: pointer;
}
.menu {
  height: 20px;
}
.perfil {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.item {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}
.gmail:hover {
  text-decoration: underline;
}
.imagenes:hover {
  text-decoration: underline;
}
.menu:hover {
}
#logo { 
  margin-top: 20px;
  width: 20rem;
  margin-bottom: 20px;
}


main .main-input {
    width: 625px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px;
}
#input-search{
    padding: 10px;
    height: 47px;
}
main .main-input-container {
    width: 625px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 550px;
    height: 40px;
    border: none;
    outline: none;
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.botones {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.4em;
}

#search {
  border: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 0.65em;
  background-color: #f8f9fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#lucky {
  border: none;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  font-size: 0.65em;
}

#search:hover {
  outline: 1px solid #ccc;
  cursor: pointer;
}

#lucky:hover {
  outline: 1px solid #ccc;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  font-size: .95em;
}

.links {
  display: flex;
  justify-content: space-between;
}
.pais {
  padding: 20px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}
.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: end;
}
.links .left ul {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
}
.links .left ul li {
  margin-right: 20px;
  list-style: none;
}
.links .left ul li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.links .left ul li a:hover {
  text-decoration: underline;
}

.links .right ul {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: end;
}
